# History
export HISTSIZE=4096;
export HISTFILESIZE=16384;
export SAVEHIST=4096

# Set Terminal Defaults
export GIT_GUI="stree"

# Set default editor
export VISUAL="code --wait"
export EDITOR="$VISUAL"