[user]
	name = Jordan Weaver
	email = jweaver@enthought.com

[github]
    user = jordanweaver

[credential]
	helper = osxkeychain

[core]
	editor = atom --wait
	excludesfile = /Users/jweaver/.gitignore_global

[color]
	ui = true

[push]
	default = simple

[fetch]
    prune = true

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f

[help]
	autocorrect = 30

[alias]
	st = status -s
	ci = commit
	br = branch
	co = checkout
	df = diff
	la = "!git config -l | grep alias | cut -c 7-"
	ls = log --pretty=format:\"%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn]\" --decorate
	ll = log --pretty=format:\"%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn]\" --decorate --numstat
	ld = log --pretty=format:\"%C(yellow)%h %ad%Cred%d %Creset%s%Cblue [%cn]\" --decorate --date=relative
	lds = log --pretty=format:\"%C(yellow)%h %ad%Cred%d %Creset%s%Cblue [%cn]\" --decorate --date=short
	lg = log -p
	last = log -1 HEAD
	prune-merged = "!git branch --merged | grep  -v '\\*\\|master' | xargs -n 1 git branch -d"
	sl = stash list
	sa = stash apply
	ss = stash save
	undo = reset HEAD~1 --mixed
	amend = commit -a --amend
	cbranch = !"git branch | grep '*' | cut -f2 -d' '"
	changed = !"git diff --name-only $(git cbranch) $(git merge-base $(git cbranch) master)"
[diff]
	tool = bc3
[difftool]
	prompt = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
